$primary-color: #9356dc;
$secondary-color: #ff79da;
$terciary-color: #99e2d0;
$background-color: #f6f6f6;
@mixin background_color {
    background-color: $background-color;
}

@mixin flex-justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-around-align-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-between-align-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin text_decoration($text_color) {
    text-decoration: none;
    color: $text_color;
}

@mixin border-image {
    border-radius: 20px 20px 0px 0px;
}

@mixin border-figcaption {
    border-radius: 0px 0px 20px 20px;
}

@mixin box_shadow {
    box-shadow: 0px 0px 10px 10px $background-color;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    font-family: "roboto";
    margin: 0px;
    height: 100%;
    width: 100%;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include background_color();
    width: 100%;
    height: 100%;
    &__logo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & i {
            display: none;
        }
        & p {
            display: none
        }
    }
    &__localisation {
        @include flex-justify-align-center();
        background: linear-gradient(to top, darken($background-color, 5%), 95%, darken($background-color, 30%));
        width: 100%;
        height: 100%;
        & p {
            margin-left: 10px;
        }
    }
    &__bouton_exploration {
        @include flex-justify-align-center();
        color: white;
        background: linear-gradient(to top left, #9356dc, 60%, #ff79da);
        width: 250px;
        height: 65px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 10px darken($background-color, 2%);
        margin-bottom: 20px;
        text-decoration: none;
        &:hover {
            background: linear-gradient(to top left, lighten(#9356dc, 5%), 60%, lighten(#ff79da, 5%));
            box-shadow: 0px 0px 10px 10px darken($background-color, 6%);
        }
    }
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100%;
    & .bouton {
        @include flex-justify-align-center();
        margin-top: 20px;
        margin-bottom: 20px;
        &__numero {
            background-color: $primary-color;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            @include flex-justify-align-center();
            z-index: 2;
            color: white
        }
        & i {
            @include flex-justify-align-center();
            @include box_shadow();
            padding-left: 20px;
            margin-left: -10px;
            height: 70px;
            width: 250px;
            z-index: 1;
            border-radius: 20px;
            color: grey;
            & p {
                padding-left: 20px;
                padding-right: 20px;
                color: black
            }
            &:hover {
                background-color: lighten($primary-color, 25%);
                color: $primary-color;
                box-shadow: 0px 0px 10px 10px darken($background-color, 5%)
            }
        }
    }
}

.section {
    @include background_color();
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    &__titre {
        font-weight: bold;
    }
    &__restaurant {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    & a {
        @include text_decoration(black);
        display: flex;
        flex-direction: column;
    }
    & figure {
        margin: 0px;
        width: 100%;
        & img {
            width: 300px;
            height: 200px;
            object-fit: cover;
            @include border-image();
        }
        & figcaption {
            width: 100%;
            height: 100px;
            @include flex-around-align-center();
            @include border-figcaption();
            background-color: white;
        }
        & i {
            font-size: 1.5em;
        }
        & .description {
            &__nom {
                font-weight: bold;
            }
        }
    }
}

.footer {
    background-color: #353535;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__logo {
        font-family: "Shrikhand";
        color: white;
        font-size: 1.5em;
    }
    &__restaurant i {
        @include flex-justify-align-center();
        & p {
            padding-left: 10px;
        }
    }
    &__partenaire i {
        @include flex-justify-align-center();
        & p {
            padding-left: 10px;
        }
    }
    &__contact {
        @include flex-justify-align-center();
    }
    & a {
        @include text_decoration(white);
    }
}

.fa-heart {
    -webkit-background-clip: text;
    transition: 200ms ease-in;
    color: white;
    -webkit-text-stroke: 2px black;
    &:hover {
        color: transparent;
        background-image: linear-gradient(to top, $primary-color 0%, $secondary-color 100%);
        -webkit-text-stroke: 0px Black;
    }
}

$cd-bars: #15DEA5;
$size: 3vh;
$num-bars: 5;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-bars;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$terciary-color: #99e2d0;
.container {
    height: 100%;
    width: 100%;
    margin: 0px;
    position: fixed;
}

.load {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    animation: end-anim 3s forwards;
    &__bar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: transparent;
        background-clip: text;
        animation: bars $anim-dur forwards infinite;
        animation-direction: alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
        &--1 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--2 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--3 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--4 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--5 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
    }
}

.bloc_page {
    animation: opacity-blocpage 3.1s forwards;
}

@keyframes bars {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes end-anim {
    0% {
        width: 100%;
        height: 700px;
    }
    99% {
        width: 100%;
        height: 700px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}

@keyframes opacity-blocpage {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@import "restaurant";
@import "queries_mobile";
@import "queries_ipad";