@charset "UTF-8";
body {
  font-family: "roboto";
  margin: 0px;
  width: 95%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
}
.header__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo i {
  display: none;
}
.header__logo p {
  display: none;
}
.header__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #e9e9e9, 95%, #aaaaaa);
  width: 100%;
}
.header__localisation p {
  margin-left: 10px;
}
.header__bouton_exploration {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to top left, #9356dc, 60%, #ff79da);
  width: 250px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px;
  margin-bottom: 20px;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
}
header nav .bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
header nav .bouton__numero {
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
header nav .bouton i {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 10px #f6f6f6;
  padding-left: 20px;
  margin-left: -10px;
  height: 70px;
  width: 250px;
  z-index: 1;
  border-radius: 20px;
}
header nav .bouton i p {
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0px;
}
.section__titre {
  font-weight: bold;
}
.section__restaurant {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.section a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
.section figure {
  margin: 0px;
  width: 100%;
}
.section figure img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.section figure figcaption {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.section figure i {
  font-size: 1.5em;
}
.section figure .description__nom {
  font-weight: bold;
}

.footer {
  background-color: #353535;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.5em;
}
.footer__restaurant i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__restaurant i p {
  padding-left: 10px;
}
.footer__partenaire i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__partenaire i p {
  padding-left: 10px;
}
.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
}

.header-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-accueil:nth-of-type(1) {
  display: none;
  flex-basis: 10%;
}

.logo-accueil:nth-of-type(2) {
  flex-basis: 10%;
}

.logo-accueil:nth-of-type(3) {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-accueil:nth-of-type(4) {
  flex-basis: 10%;
}

.section-restaurant {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aside-restaurant {
  width: 100%;
  height: 400px;
  margin: 0px;
}
.aside-restaurant figure {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.aside-restaurant figure img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.aside-restaurant figure figcaption {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  font-family: "Shrikhand";
  font-size: 2em;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
}
.aside-restaurant figure figcaption i {
  -webkit-background-clip: text;
  transition: 200ms ease-in;
}
.aside-restaurant figure figcaption i:hover {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
}

.article-restaurant {
  width: 70%;
}

.menu_entrée {
  background-color: pink;
  width: 100%;
}

.nom_restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 2em;
  background-color: green;
  height: 500px;
  width: 100%;
  z-index: 2;
}

.plat {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 30px;
  /*&-nom p {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
  }*/
}
.plat-seul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 20px 20px #e9e9e9;
  padding-left: 20px;
  padding-right: 20px;
}
.plat-prix {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.plat-anim {
  width: 0px;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: 0px 30px 30px 0px;
}
.plat-anim i {
  color: white;
}

.plat:hover .plat-anim {
  animation-duration: 1s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  display: flex;
}
.plat:hover .plat-anim p {
  animation-duration: 1s;
  animation-name: turn;
  animation-fill-mode: forwards;
  font-size: 2em;
}
.plat:hover .plat-seul {
  animation-duration: 100ms;
  animation-name: border;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}
@keyframes turn {
  from {
    opacity: 0;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(-1turn);
  }
}
@keyframes border {
  from {
    border-radius: 30px;
  }
  to {
    border-radius: 30px 0px 0px 30px;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
