@charset "UTF-8";
@keyframes bars {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes end-anim {
  0% {
    width: 100%;
    height: 100%;
  }
  99% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}
@keyframes opacity-blocpage {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}
@keyframes turn {
  from {
    opacity: 0;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(-1turn);
  }
}
@keyframes border {
  from {
    border-radius: 30px;
  }
  to {
    border-radius: 30px 0px 0px 30px;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* */
* {
  font-family: "roboto";
}

.footer__logo p {
  font-family: "Shrikhand";
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
}
.header__logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header__logo i {
  display: none;
}
.header__logo p {
  display: none;
}
.header__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #e9e9e9, 95%, #aaaaaa);
  width: 100%;
  height: 100%;
}
.header__localisation p {
  margin-left: 10px;
}
.header__sous_titre {
  font-weight: 300;
}
.header__bouton_exploration {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to top left, #9356dc, 60%, #ff79da);
  width: 250px;
  height: 65px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px #f1f1f1;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
}
.header__bouton_exploration:hover {
  background: linear-gradient(to top left, #a16be0, 60%, #ff93e1);
  box-shadow: 0px 0px 10px 10px #e7e7e7;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 100%;
}
header nav .bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
header nav .bouton__numero {
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
}
header nav .bouton__interieur {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 10px #f6f6f6;
  border-radius: 20px;
  z-index: 1;
  margin-left: -15px;
}
header nav .bouton__interieur i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  height: 70px;
  color: grey;
}
header nav .bouton__interieur p {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: 500;
}
header nav .bouton__interieur:hover {
  background-color: #e4d5f6;
  color: #9356dc;
  box-shadow: 0px 0px 10px 10px #e9e9e9;
}
header nav .bouton__interieur:hover i {
  color: #9356dc;
}

.section {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.section__titre {
  font-weight: bold;
  padding-left: 30px;
  font-size: 1.3em;
}
.section__restaurant {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.section a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.section figure {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px;
}
.section figure img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
}
.section figure .container-nouveau {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.section figure .nouveau {
  color: #278870;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  background-color: #99e2d0;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section figure figcaption {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.section figure i {
  font-size: 1.5em;
  padding-right: 20px;
}
.section figure .description {
  font-weight: 300;
  padding-left: 20px;
}
.section figure .description__nom {
  font-weight: 800;
}

.header-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-accueil i {
  color: black;
}
.logo-accueil:nth-of-type(1) {
  flex-basis: 10%;
  padding-left: 15px;
}

.logo-accueil:nth-of-type(2) {
  flex-basis: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-accueil:nth-of-type(3) {
  flex-basis: 10%;
}

.section-restaurant {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aside-restaurant {
  width: 100%;
  height: 400px;
  margin: 0px;
}
.aside-restaurant figure {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.aside-restaurant figure img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.aside-restaurant figure figcaption {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  font-size: 2em;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
}
.aside-restaurant figure figcaption p {
  font-family: "Shrikhand", cursive;
}

.article-restaurant {
  width: 70%;
}

.nom_restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 2em;
  background-color: green;
  height: 500px;
  width: 100%;
  z-index: 2;
}

.menu__border {
  width: 40px;
  height: 30px;
  border-top: 4px solid #99e2d0;
}

.plat {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 30px;
}
.plat-seul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px 20px #e9e9e9;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat-prix {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-weight: bold;
  padding-bottom: 30px;
}
.plat-anim {
  width: 0px;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: 0px 20px 20px 0px;
}
.plat-anim i {
  color: white;
}
.plat-nom {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-weight: bold;
}
.plat-nom-entier {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.plat-nom p {
  width: 100%;
  font-weight: bold;
}
.plat__catégorie {
  text-transform: uppercase;
}
.plat-accomp {
  font-size: 0.9em;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
/* */
.footer {
  background-color: #353535;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  color: white;
  font-size: 1.3em;
  padding-top: 10px;
}
.footer__restaurant {
  font-weight: bold;
  padding-top: 10px;
}
.footer__restaurant i {
  padding-right: 10px;
}
.footer__partenaire {
  padding-top: 10px;
  font-weight: bold;
}
.footer__partenaire i {
  padding-right: 10px;
}
.footer__mention {
  margin: 0px;
  padding-top: 10px;
}
.footer__contact {
  margin: 0px;
  padding-top: 10px;
}
.footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer__logo {
    padding-left: 30px;
  }
  .footer__restaurant {
    padding-left: 30px;
  }
  .footer__partenaire {
    padding-left: 30px;
  }
  .footer__mention {
    padding-left: 30px;
  }
  .footer__contact {
    padding-left: 30px;
  }

  .logo-accueil i {
    color: black;
  }

  .logo-accueil:nth-of-type(1) {
    display: flex;
    padding-left: 15px;
  }

  .header {
    margin: 0px;
  }
  .header__titre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .header__sous_titre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .section__restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .section__figure {
    margin-bottom: 30px;
  }
  .section figure {
    width: 325px;
  }
  .section figure img {
    width: 325px;
  }
  .section figure figcaption {
    width: 325px;
    font-size: 1.2em;
    height: 90px;
  }
  .section figure .description__nom {
    margin-bottom: -20px;
    font-size: 1.1em;
  }

  .article-restaurant {
    width: 90%;
  }

  .load i {
    font-size: 0.4em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer__logo {
    padding-top: 10px;
  }

  .logo-accueil i {
    color: black;
  }

  .logo-accueil:nth-of-type(1) {
    display: flex;
    padding-left: 15px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .section__restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .section__figure {
    margin-bottom: 30px;
  }
}
/* */
.fa-heart {
  -webkit-background-clip: text;
  transition: 200ms ease-in;
  color: white;
  -webkit-text-stroke: 2px black;
}
.fa-heart:hover {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  -webkit-text-stroke: 0px Black;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0px;
  position: fixed;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 5em;
  justify-content: center;
  align-items: center;
  animation: end-anim 3s forwards;
}
.loader__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: transparent;
  -webkit-background-clip: text;
  animation: bars 1000ms forwards infinite;
  animation-direction: alternate;
}
.loader__bar--1 {
  animation-delay: 200ms;
}
.loader__bar--2 {
  animation-delay: 400ms;
}
.loader__bar--3 {
  animation-delay: 600ms;
}
.loader__bar--4 {
  animation-delay: 800ms;
}
.loader__bar--5 {
  animation-delay: 1000ms;
}
.loader__bar--1 {
  background-image: linear-gradient(to top, #9356dc 25%, #ff79da 75%);
}
.loader__bar--2 {
  background-image: linear-gradient(to top, #9356dc 25%, #ff79da 75%);
}
.loader__bar--3 {
  background-image: linear-gradient(to top, #9356dc 25%, #ff79da 75%);
}
.loader__bar--4 {
  background-image: linear-gradient(to top, #9356dc 25%, #ff79da 75%);
}
.loader__bar--5 {
  background-image: linear-gradient(to top, #9356dc 25%, #ff79da 75%);
}

.bloc_page {
  animation: opacity-blocpage 3.1s forwards;
}

.plat:hover .plat-anim {
  animation-duration: 1s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  display: flex;
}
.plat:hover .plat-anim p {
  animation-duration: 1s;
  animation-name: turn;
  animation-fill-mode: forwards;
  font-size: 2em;
}
.plat:hover .plat-seul {
  animation-duration: 100ms;
  animation-name: border;
  animation-fill-mode: forwards;
}

.menu__entrée {
  animation: fadein 1s;
}

.menu__plat {
  animation: fadein 2s;
}

.menu__dessert {
  animation: fadein 3s;
}

/* */

/*# sourceMappingURL=style.css.map */
