.container {
    height: 100%;
    width: 100%;
    margin: 0px;
    position: fixed;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    animation: end-anim 3s forwards;
    &__bar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: transparent;
        background-clip: text;
        animation: bars $anim-dur forwards infinite;
        animation-direction: alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
        &--1 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--2 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--3 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--4 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
        &--5 {
            background-image: linear-gradient(to top, $primary-color 25%, $secondary-color 75%);
        }
    }
}

.bloc_page {
    animation: opacity-blocpage 3.1s forwards;
}