@mixin background_color {
    background-color: $background-color;
}

@mixin flex-justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-around-align-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-between-align-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin text_decoration($text_color) {
    text-decoration: none;
    color: $text_color;
}

@mixin border-image {
    border-radius: 20px 20px 0px 0px;
}

@mixin border-figcaption {
    border-radius: 0px 0px 20px 20px;
}

@mixin box_shadow {
    box-shadow: 0px 0px 10px 10px $background-color;
}