$primary-color: #9356dc;
$secondary-color: #ff79da;
$terciary-color: #99e2d0;
$background-color: #f6f6f6;
// variables animation Loader
$cd-bars: #15DEA5;
$size: 3vh;
$num-bars: 5;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-bars;
//