.footer {
    background-color: #353535;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__logo {
        color: white;
        font-size: 1.3em;
        padding-top: 10px;
    }
    &__restaurant {
        font-weight: bold;
        padding-top: 10px;
        & i {
            padding-right: 10px;
        }
    }
    &__partenaire {
        padding-top: 10px;
        font-weight: bold;
        & i {
            padding-right: 10px;
        }
    }
    &__mention {
        margin: 0px;
        padding-top: 10px;
    }
    &__contact {
        margin: 0px;
        padding-top: 10px;
    }
    & a {
        @include text_decoration(white);
    }
}