@media screen and (max-width: 767px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        &__logo {
            padding-left: 30px;
        }
        &__restaurant {
            padding-left: 30px;
        }
        &__partenaire {
            padding-left: 30px;
        }
        &__mention {
            padding-left: 30px;
        }
        &__contact {
            padding-left: 30px;
        }
    }
    .logo-accueil i {
        color: black;
    }
    .logo-accueil:nth-of-type(1) {
        display: flex;
        padding-left: 15px;
    }
    .header {
        margin: 0px;
        &__titre {
            @include flex-justify-align-center;
            width: 85%;
            margin: auto;
            text-align: center
        }
        &__sous_titre {
            @include flex-justify-align-center;
            width: 85%;
            margin: auto;
            text-align: center;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .section {
        &__restaurant {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            margin: 0px;
        }
        &__figure {
            margin-bottom: 30px;
        }
    }
    .article-restaurant {
        width: 90%;
    }
    .load i {
        font-size: 0.4em;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        width: 100%;
    }
    .logo-accueil i {
        color: black;
    }
    .logo-accueil:nth-of-type(1) {
        display: flex;
        padding-left: 15px;
    }
    .logo-accueil:nth-of-type(2) {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .section {
        &__restaurant {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            margin: 0px;
        }
        &__figure {
            margin-bottom: 30px;
        }
    }
}